<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>firstTimeUser</key>
	<string>1</string>
	<key>ExpDone</key>
	<string>0</string>
	<key>ReviewIsSent</key>
	<string>0</string>
	<key>CurrentAudioFileID</key>
	<string>1</string>
	<key>appAlreadyLaunched</key>
	<string>0</string>
	<key>lastPlayedDate</key>
	<date>2011-01-25T11:00:00Z</date>
	<key>numCastsPlayedToday</key>
	<integer>0</integer>
	<key>lastCastPlayedToday</key>
	<string></string>
</dict>
</plist>
